<div class="col">
  <select class="form-select" name="branch" placeholder="Branch" required>
    <option value="" selected>Branch</option>
    <option value="CS">CS</option>
    <option value="IT">IT</option>
    <option value="Mechanical">Mechanical</option>
    <option value="ECE">ECE</option>
    <option value="EXTC">EXTC</option>
    <option value="Electrical">Electrical</option>
    <option value="Civil">Civil</option>
    <option value="Production">Production</option>
  </select><br>
</div>
