<div class="col">
  <select class="form-select" name="gender" placeholder="Gender" required>
    <option value="" selected>Gender</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select><br>
</div>
