<div class="col">
  <input type="text" class="form-control" name="firstName" placeholder="First Name" required autocomplete="off"><br>
</div>
<div class="col">
  <input type="text" class="form-control" name="lastName" placeholder="Last Name" required autocomplete="off"><br>
</div>
