<div class="col">
  <select class="form-select" name="section" placeholder="Section">
    <option value="A" selected>A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select><br>
</div>
