<div class="col">
  <select class="form-select" name="test" placeholder="Test Name" required>
    <option value="" selected>Test Name</option>
    <option value="MST">MST</option>
    <option value="ESE">ESE</option>
    <option value="TA">TA</option>
  </select><br>
</div>
