<div class="col">
  <select class="form-select" name="year" placeholder="Year" required>
    <option value="" selected>Year</option>
    <option value="1">First Year</option>
    <option value="2">Second Year</option>
    <option value="3">Third Year</option>
    <option value="4">Fourth Year</option>
  </select><br>
</div>
